<mat-tab-group mat-dialog-title>
  <mat-tab mat-dialog-content label="Edit Supplier">
    <div>
      <h4>ID: {{data.id}}</h4>
      <form [formGroup]="editSupplierForm"
            id="addSupplierFormId"
            (ngSubmit)="onSubmit()"
            fxLayout="column"
            fxLayoutGap="14px"
            fxLayoutAlign="center">
        <mat-form-field>
          <mat-label>Company Name</mat-label>
          <input matInput type="text" name="companyName" formControlName="companyName" required
                 minlength="3">
          <mat-error>Company name must be longer than 3 characters</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>E-Mail</mat-label>
          <input matInput type="email" name="companyEmail" formControlName="companyEmail" email
                 required>
          <mat-error>Please enter a valid E-Mail</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Preferred Language:" formControlName="companyLang" required>
            <mat-option *ngFor="let lang of languages"
                        value="{{ lang }}">{{ lang }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Web</mat-label>
          <input matInput name="companyWeb" formControlName="companyWeb">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input matInput name="companyPhone" formControlName="companyPhone">
        </mat-form-field>

        <div fxLayoutAlign="end" fxLayoutGap="10px">
          <button mat-raised-button color="primary" type="submit"
                  [disabled]="!editSupplierForm.valid">
            Save
          </button>
          <button mat-raised-button color="accent" type="button" mat-dialog-close="">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </mat-tab>

  <mat-tab label="Categories">
    <p>Categories</p>
  </mat-tab>
  <mat-tab label="Tags">
    <p>Tags</p>
  </mat-tab>
</mat-tab-group>
